@media  screen and (max-device-width: 480px) {

        title {
            font-size: 140%;
        }
        body {
          font-family:     sans-serif;
          font-size:       large;
          line-height:     1.6em;
          background-color: #f6f6f6;
          text-align: center;
          width: auto;
          height: auto;
        }
    }
body {
  font-family:     Verdana, Geneva, Arial, sans-serif;
  font-size:       large;
  line-height:     1.6em;
  background-color: #f6f6f6;
  text-align: center;
}

h1 {
  font-family:     "Emblema One", sans-serif;
  font-size:       200%;
}
h2 {
  font-size:       130%;
  font-weight:     normal;
  color:           black;
  border-top:   thin dotted;
  line-hight:      1.6em;
}

blockquote {
  font-style:      italic;

}

a:link {
  color: black;
}
a:hover {
  color: #0084fe;/*蓝色*/
}
a:visited {
  color: black;
}


#jieshao {
    background: #ffffff;
    margin: 0 auto 0 auto;

}
#footer {
  font-size: 50%;
  line-height: normal;
  margin-top: 0px;
  padding-top: 0px;
}


